services:
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: example_password
      MYSQL_DATABASE: chain_optim_database
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: mysql://root:example_password@mysql:3306/chain_optim_database
    depends_on:
      - mysql

volumes:
  mysql_data:
