<div>
    <div style="display: flex; flex-direction: row; align-items: center; spacing: 10px 0px; padding: 20px 40px 20px 40px;">
        <div style="font-size: 24px; font-weight: 600;">
            Products
        </div>

        <div style="font-size: 20px; font-weight: 600;">
            ( {{ products.len }} )
        </div>
    </div>


    <div @for="let product of products" style="padding: 0px 40px 40px 40px; spacing: 40px 0px;">
        <product-component [product]="product">
            
        </product-component>
    </div>


</div>