/* Navigation */
.sidebar-navigation-item {
    padding: 1rem;
    color: var(--text-color, #777);
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-navigation-item.active {
    color: white;
    background-color: var(--primary-color, #0056b3);
}

.sidebar-navigation-sub-item {
    color: var(--text-color, #777);
    transition: background-color 0.3s, color 0.3s;
    border-left: 3px solid var(--border-color-secondary);
}

.sidebar-navigation-sub-item.active {
    border-left: 4px solid var(--primary-color);
}




.custom-select {
    padding: 4px 12px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: 600;
}