.main-sidebar-component {
    width: 8rem;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.active-item {
    color: white;
}